extends layout

block content
  div.container
   div.jumbotron
      div.page-header 
       h1 #{title}
      p The base of these articles is updated.
      p Have a drink of tea or a walk.
      p The update time depends on the speed of the internet, so forgive.
      p
      a(href = 'http://localhost:3000/news/1' class="btn btn-warning btn-lg") News